/* Check out different fonts here: https://fonts.google.com/ */

h1 {
	font-family: 'Baloo Bhaijaan', cursive;
	padding-bottom: 10px;
}

p {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
	size: 30%;
}

h3 {
	font-family: 'Droid Serif', serif;
	padding-bottom: 50px;
}
